body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./img-1.jpg');
    background-size: cover;
    z-index: -1;
    background-position: center;
    height: 100%;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header-container {
    max-width: 800px;
    margin: 20 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 100px;
    height: 50px;
    margin-right: 20px;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 800px;
    margin: 220px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;

    margin-bottom: 28px;
}

.box {
    width: 90%;
    height: 90%;
    margin: 10px;
    background-color: #f0f0f0;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 100%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.result-container {
    margin-top: 20px;
    text-align: center;
}

#result-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#result-list li {
    margin-bottom: 10px;
}


#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading-screen.hidden {
    display: none;
}

.loading-spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#initial-loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#initial-loading-screen.hidden {
    display: none;
}

.loading-spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#register-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#register-screen.hidden {
    display: none;
}

#register-screen {
    background-image: linear-gradient(to bottom, #f0f0f0, #fff);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-screen h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

#register-screen label {
    display: block;
    margin-bottom: 10px;
}

#register-screen input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#register-screen button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#register-screen button[type="submit"]:hover {
    background-color: #3e8e41;
}


.register-form {
    background-color: #f7f7f7;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h3 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
}

.register-form input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button[type="submit"]:hover {
    background-color: #3e8e41;
}